$col-white: #fbfcfc;
$col-black: #1d1d1d;
$col-blue: #5cace1;
$col-light-blue: #7f9ce9;
$col-green: #5dd58f;
$col-amber: #f0a62f;
$col-red: #e16c5f;

:root {
  --col-white: #fbfcfc;
  --col-black: #37393e;
  --col-blue: #5cace1;
  --col-light-blue: #7f9ce9;
  --col-green: #5dd58f;
  --col-amber: #f0a62f;
  --col-red: #e16c5f;
}
