input,
button,
textarea,
select {
  &.blank {
    font-size: 1em;
    padding: var(--unit-tiny);
    margin: calc(0px - var(--unit-tiny));
    border-radius: var(--unit-tiny);
    background: none !important;
    border: none;
    backdrop-filter: none !important;

    transition: box-shadow 0.4s;

    &:focus,
    &:hover:not(:disabled) {
      box-shadow: 0 0 0 2px var(--colors-red);
      outline: none;
    }
  }
}

app-root {
  background-color: var(--col-white);
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
mat-sidenav-container,
mat-sidenav-content {
  min-height: 100vh;
}
