input,
button,
textarea,
select {
  &.blank {
    font-size: 1em;
    padding: var(--unit-tiny);
    margin: calc(0px - var(--unit-tiny));
    border-radius: var(--unit-tiny);
    background: none !important;
    border: none;
    backdrop-filter: none !important;

    transition: box-shadow 0.4s;

    &:focus,
    &:hover:not(:disabled) {
      box-shadow: 0 0 0 2px var(--colors-red);
      outline: none;
    }
  }
}

app-root {
  background-color: var(--col-bg);
  display: block;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  > * > .container {
    padding-left: env(safe-area-inset-left) !important;
    padding-right: env(safe-area-inset-right) !important;
  }
  .mat-toolbar {
    padding-left: max(env(safe-area-inset-left), 16px) !important;
    padding-right: max(env(safe-area-inset-right), 16px) !important;
  }
}

.bottom-spacer {
  height: env(safe-area-inset-bottom);
  box-sizing: border-box;
}

mat-sidenav-container,
mat-sidenav-content {
  min-height: 100vh;
}

.noTopRad {
  &.mat-card,
  .mat-card {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}
