// @import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* GENERAL */
:root {
  --border-radius: 1em;
  --box-shadow: rgba(0, 0, 0, 0.098) 0px 3px 10px,
    rgba(0, 0, 0, 0.132) 0px 3px 6px;
}

@mixin disabled($col) {
  &:disabled {
    background-color: darken($color: $col, $amount: 15%) !important;
  }
}

::selection {
  color: $col-amber;
}

/* COLORS */
// *[color="primary"],
// .col-primary {
//   color: $col-blue !important;
// }
// *[color="accent"],
// .col-accent {
//   color: $col-amber !important;
// }
// *[color="warn"],
// .col-warn {
//   color: $col-red !important;
// }
// *[color="info"],
// .col-info {
//   color: $col-light-blue !important;
// }
// *[color="success"],
// .col-success {
//   color: $col-green !important;
// }
// /* BACKGROUND */
// *[background="primary"],
// .bg-primary {
//   background-color: $col-blue !important;
//   &,
//   * {
//     color: $col-white !important;
//   }
//   @include disabled($col-blue);
// }
// *[background="accent"],
// .bg-accent {
//   background-color: $col-amber !important;
//   &,
//   * {
//     color: $col-white !important;
//   }
//   @include disabled($col-amber);
// }
// *[background="warn"],
// .bg-warn {
//   background-color: $col-red !important;
//   &,
//   * {
//     color: $col-white !important;
//   }
//   @include disabled($col-red);
// }
// *[background="info"],
// .bg-info {
//   background-color: $col-light-blue !important;
//   &,
//   * {
//     color: $col-white !important;
//   }
//   @include disabled($col-light-blue);
// }
// *[background="success"],
// .bg-success {
//   background-color: $col-green !important;
//   &,
//   * {
//     color: $col-white !important;
//   }
//   @include disabled($col-green);
// }

/* */
.mat-rounded {
  border-radius: 50% !important;
  height: 1em !important;
  width: 1em !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

/* CARD */
.mat-card {
  .mat-card-content > :first-child {
    margin-top: var(--unit-small) !important;
  }
}

fa.mat-card-avatar {
  font-size: 40px;
}

form.grow {
  .mat-form-field {
    width: 100%;
  }
}

textarea {
  box-sizing: content-box;
  &.small {
    height: calc(3em * 1.125);
  }
  &.normal {
    height: calc(5em * 1.125);
  }
  &.large {
    height: calc(10em * 1.125);
  }
}

.mat-dialog-actions {
  &.space-between {
    justify-content: space-between !important;
  }
}

// This fixes https://github.com/angular/components/issues/4609
.mat-dialog-override {
  mat-dialog-container {
    > :first-child {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    mat-dialog-content,
    div[mat-dialog-content] {
      flex-grow: 1;
    }
  }
}

.mat-toolbar {
  flex-wrap: wrap !important;
  height: unset !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

// .mat-datepicker-content {
//   display: flex !important;
//   align-items: center !important;
//   .time-container::before {
//     display: none !important;
//   }
// }

.mat-button.hover:not(.mat-button-disabled) .mat-button-focus-overlay,
.mat-stroked-button.hover:not(.mat-button-disabled) .mat-button-focus-overlay {
  opacity: 0.04;
}

.mat-button.active:not(.mat-button-disabled) .mat-button-focus-overlay,
.mat-stroked-button.active:not(.mat-button-disabled) .mat-button-focus-overlay {
  opacity: 0.12;
}
.mat-list-item.active .mat-list-item-ripple {
  background: rgba(5, 5, 5, 0.12) !important;
}

.mat-divider {
  margin: 1ch 0 !important;
}

.mobile-label {
  display: none;
}

.no-content-padding .mat-table {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.content-padding {
  padding: 16px !important;
}
.mat-table {
  &.mobile-table {
    th.mat-header-cell,
    td.mat-cell,
    td.mat-footer-cell {
      border: none !important;
    }
    td {
      padding-bottom: 7px !important;
      width: 100% !important;
    }
    td:first-of-type {
      padding-left: 0 !important;
    }
    td:last-of-type {
      padding-right: 0 !important;
    }
    tr.mat-header-row {
      display: none;
    }
    tbody {
      tr:first-of-type {
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }
      tr:last-of-type {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }
    }
    .mat-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 24px;
      height: unset;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .mobile-label {
      display: inline-block;
      font-weight: bold;
      min-width: 10ch !important;
    }
  }
}

.mat-sidenav-container {
  background-color: unset !important;
}

.mat-paginator {
  background: none !important;
}
.mat-paginator-container {
  justify-content: end !important;
  padding: 0 24px !important;

  .mat-paginator-page-size-label {
    margin: 0 !important;
  }
}

snack-bar-container {
  margin-top: max(env(safe-area-inset-top), 8px) !important;
}

.mat-simple-snackbar-action {
  button {
    color: rgba(255, 255, 255, 0.7);
  }
}
.mat-button,
.mat-raised-button,
.mat-stroked-button {
  border-radius: calc(var(--border-radius) / 2) !important;
}
.mat-menu-panel,
.mat-dialog-container,
.mat-card {
  border-radius: var(--border-radius) !important;
}
.mat-card {
  box-shadow: var(--box-shadow) !important;
}
