@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* GENERAL */
* {
  color: var(--col-font);
}

:root {
  --col-background: #{$col-white};
  --col-font: #{$col-black};

  .light {
    --col-background: #{$col-white};
    --col-font: #{$col-black};
  }
  .dark {
    --col-background: #{$col-black};
    --col-font: #{$col-white};
  }
}

@mixin disabled {
  &:disabled {
    background-color: darken($color: $col-green, $amount: 15%) !important;
  }
}

/* COLORS */
*[color="primary"] {
  color: $col-blue !important;
}
*[color="accent"] {
  color: $col-amber !important;
}
*[color="warn"] {
  color: $col-red !important;
}
*[color="info"] {
  color: $col-light-blue !important;
}
*[color="success"] {
  color: $col-green !important;
}
/* BACKGROUND */
*[background="primary"] {
  background-color: $col-blue !important;
  * {
    color: $col-white !important;
  }
  @include disabled();
}
*[background="accent"] {
  background-color: $col-amber !important;
  * {
    color: $col-white !important;
  }
  @include disabled();
}
*[background="warn"] {
  background-color: $col-red !important;
  * {
    color: $col-white !important;
  }
  @include disabled();
}
*[background="info"] {
  background-color: $col-light-blue !important;
  * {
    color: $col-white !important;
  }
  @include disabled();
}
*[background="success"] {
  background-color: $col-green !important;
  * {
    color: $col-white !important;
  }
  @include disabled();
}

/* */
.mat-rounded {
  border-radius: 50% !important;
  height: 1em !important;
  width: 1em !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

/* CARD */
.mat-card {
  background-color: var(--col-background) !important;

  .mat-card-content > :first-child {
    margin-top: var(--unit-small) !important;
  }
}

fa.mat-card-avatar {
  font-size: 40px;
}

form.grow {
  .mat-form-field {
    width: 100%;
  }
}

textarea {
  &.large {
    box-sizing: border-box;
    height: calc(10em * 1.125);
  }
}

.mat-dialog-actions {
  &.space-between {
    justify-content: space-between !important;
  }
}

// This fixes https://github.com/angular/components/issues/4609
.mat-dialog-override {
  mat-dialog-container {
    > :first-child {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    mat-dialog-content,
    div[mat-dialog-content] {
      flex-grow: 1;
    }
  }
}
