<div class="container small">
  <card
    [icon]="gv.Icons.grade"
    [ctitle]="lang.data.sc.name"
    [csubtitle]="lang.data.sc.subtitle"
    class="noTopRad"
  >
    <button mat-raised-button background="success" (click)="addNew()">
      {{ lang.data.sc.new.btn }}
    </button>
  </card>
  <card
    [icon]="gv.Icons.chart"
    [ctitle]="lang.data.sc.dashboard.diagrams.title"
    [csubtitle]="lang.data.sc.dashboard.diagrams.subtitle"
  >
    <mat-tab-group *ngIf="subjectsWithGrades.length > 0; else noDiagrams">
      <mat-tab *ngFor="let subject of subjectsWithGrades">
        <ng-template matTabLabel>{{ subject.title }}</ng-template>
        <ng-template matTabContent>
          <sc-diagram [subjectId]="subject.id"></sc-diagram>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <ng-template #noDiagrams>
      <mat-card background="info">
        {{ lang.data.sc.no_content.diagram }}
      </mat-card>
    </ng-template>
  </card>
  <card
    [icon]="gv.Icons.table"
    [ctitle]="lang.data.sc.name"
    [csubtitle]="lang.data.sc.dashboard.all.subtitle"
    [noContentPadding]="true"
  >
    <sc-list [data]="userData.grades"></sc-list>
  </card>
</div>
