<div class="container small">
  <!-- PROFILE -->
  <card
    [icon]="gv.Icons.profile"
    title="Hello [NAME]!"
    subtitle="Your account"
    *ngIf="userData.group == null; else groupInfo"
  >
    <p>STATS, SETTINGS AND LOGOUT</p>
    <button mat-raised-button (click)="auth.signOut()">Logout</button>
  </card>
  <ng-template #groupInfo>
    <mat-card>
      <mat-card-header>
        <fa [fa]="gv.Icons.group" mat-card-avatar></fa>
        <mat-card-title>{{ userData.group.title }}</mat-card-title>
        <mat-card-subtitle>
          {{ userData.group.description }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <gr-member-list-table></gr-member-list-table>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>

  <!-- QUICK-ACTIONS -->
  <card
    [icon]="gv.Icons.cogs"
    title="Quick-Actions"
    subtitle="Some quick things"
  >
    <db-quick-actions></db-quick-actions>
  </card>

  <!-- APPOINTMENTS -->
  <card
    [icon]="gv.Icons.calender_checked"
    title="Appointments"
    subtitle="All your appointments"
  >
    <p>LIST OF APPOINTMENTS, SORTED BY DATE</p>
  </card>

  <!-- HOMEWORK -->
  <hw-dashboard [dashboard]="true"></hw-dashboard>
</div>
