<div class="container small">
  <!-- PROFILE -->
  <card
    [icon]="gv.Icons.profile"
    ctitle="Profile"
    csubtitle="Your account"
    *ngIf="userData.group == null; else groupInfo"
    class="noTopRad"
  >
    <p>STATS, SETTINGS AND LOGOUT</p>
    <button mat-raised-button (click)="auth.signOut()">Logout</button>
  </card>
  <ng-template #groupInfo>
    <card
      [icon]="gv.Icons.group"
      [ctitle]="userData.group.title"
      [csubtitle]="userData.group.description"
      [noContentPadding]="true"
      class="noTopRad"
    >
      <button mat-button class="header-btn" (click)="editGroup()">Edit</button>
      <gr-member-list-table
        [data]="userData.group.members"
      ></gr-member-list-table>
    </card>
  </ng-template>

  <!-- QUICK-ACTIONS -->
  <card
    [icon]="gv.Icons.cogs"
    ctitle="Quick-Actions"
    csubtitle="Some quick things"
  >
    <db-quick-actions></db-quick-actions>
  </card>

  <!-- APPOINTMENTS -->
  <card
    [icon]="gv.Icons.calender_checked"
    ctitle="Appointments"
    csubtitle="All your appointments"
  >
    <p>LIST OF APPOINTMENTS, SORTED BY DATE</p>
  </card>

  <!-- HOMEWORK -->
  <hw-dashboard [dashboard]="true"></hw-dashboard>
</div>
