@import "/src/libraries/util/scss/component.scss";

.mat-dialog-content {
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list {
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;

    span {
      flex-grow: 1;
    }
  }
}
.mat-form-field {
  width: 100%;
}
