<form class="grow" #form="ngForm">
  <mat-form-field>
    <mat-label>{{ lang.data.ap.detail.name }}</mat-label>
    <input
      matInput
      name="title"
      required
      [(ngModel)]="ap.title"
      (submit)="save()"
      #title
    />
    <mat-error [hidden]="!title.valid">
      {{ lang.data.ap.detail.name }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ lang.data.ap.detail.subject }}</mat-label>
    <mat-select
      name="subject"
      [(ngModel)]="ap.subjectId"
      (submit)="save()"
      #subject
    >
      <mat-option [value]="null">
        {{ lang.data.general.buttons.none }}
      </mat-option>
      <mat-option
        *ngFor="let sub of userData.data.subjects[ap.groupId]"
        [value]="sub.id"
      >
        {{ sub.title }}
      </mat-option>
      <mat-option
        disabled
        *ngIf="userData.data.subjects[ap.groupId]?.length === 0"
      >
        No subjects found
      </mat-option>
    </mat-select>
    <mat-error [hidden]="!subject.valid">
      {{ lang.data.ap.detail.subject }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ lang.data.ap.detail.dateStart }}</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="dateStartPicker"
      name="dateStart"
      required
      (submit)="save()"
      [(ngModel)]="ap.dateStart"
      #dateStart
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateStartPicker"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      (closed)="ap.dateEnd = ap.dateStart.add(50, 'minutes'); save()"
      #dateStartPicker
      [touchUi]="bps.datepickerMobile"
      [defaultTime]="[9, 0, 0]"
    ></ngx-mat-datetime-picker>
    <mat-error [hidden]="!dateStart.valid">
      {{ lang.data.ap.detail.dateStart }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ lang.data.ap.detail.dateEnd }}</mat-label>
    <input
      matInput
      [ngxMatDatetimePicker]="dateEndPicker"
      name="dateEnd"
      required
      (submit)="save()"
      [(ngModel)]="ap.dateEnd"
      #dateEnd
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dateEndPicker"
    ></mat-datepicker-toggle>
    <ngx-mat-datetime-picker
      (closed)="save()"
      #dateEndPicker
      [touchUi]="bps.datepickerMobile"
      [defaultTime]="[9, 0, 0]"
    ></ngx-mat-datetime-picker>
    <mat-error [hidden]="!dateEnd.valid">
      {{ lang.data.ap.detail.dateEnd }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>
</form>
