<mat-card>
  <mat-card-header>
    <fa [fa]="gv.Icons.profile" mat-card-avatar></fa>
    <mat-card-title>Hello [NAME]!</mat-card-title>
    <mat-card-subtitle>Your account</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>STATS, SETTINGS AND LOGOUT</p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <fa [fa]="gv.Icons.cogs" mat-card-avatar></fa>
    <mat-card-title>Quick-Actions</mat-card-title>
    <mat-card-subtitle>Some quick things</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button mat-raised-button background="primary">
      <fa [fa]="gv.Icons.add"><span class="fa-before">Homework</span></fa>
    </button>
    <button mat-raised-button background="primary">
      <fa [fa]="gv.Icons.add"><span class="fa-before">Appointment</span></fa>
    </button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <fa [fa]="gv.Icons.alarm" mat-card-avatar></fa>
    <mat-card-title>Due tomorrow</mat-card-title>
    <mat-card-subtitle>Let's do this!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> LIST OF HOMEWORK DUE TOMORROW </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <fa [fa]="gv.Icons.calender" mat-card-avatar></fa>
    <mat-card-title>For this week</mat-card-title>
    <mat-card-subtitle>The sooner, the better...</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    LIST OF HOMEWORK FOR THIS WEEK, SORTED BY DUE-DATE
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <fa [fa]="gv.Icons.books" mat-card-avatar></fa>
    <mat-card-title>Homework</mat-card-title>
    <mat-card-subtitle>More motivation?</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content> LIST OF HOMEWORK, SORTED BY DUE-DATE </mat-card-content>
</mat-card>
