<div class="container">
  <!-- OPTIONS -->
  <card
    [icon]="gv.Icons.edit"
    ctitle="Homework"
    csubtitle="All your homework in one place"
  >
    <button mat-raised-button background="success" (click)="newHomework()">
      Add new homework
    </button>
  </card>

  <hw-dashboard></hw-dashboard>

  <!-- ALL-TIME -->
  <card
    [icon]="gv.Icons.books"
    ctitle="Homework"
    csubtitle="More motivation?"
    *ngIf="userData.data.hwFuture?.length > 0"
  >
    <hw-list [data]="userData.hwFuture"></hw-list>
  </card>
</div>
