<div class="container">
  <card
    [icon]="gv.Icons.about"
    [ctitle]="lang.data.about.getting_started.title"
    [csubtitle]="lang.data.about.getting_started.subtitle"
    class="noTopRad"
  >
    <p [innerHtml]="lang.data.about.getting_started.content"></p>
  </card>

  <card
    [icon]="gv.Icons.about"
    [ctitle]="lang.data.about.getting_started.sections.basics.title"
    [csubtitle]="lang.data.about.getting_started.sections.basics.subtitle"
  >
    <p
      [innerHtml]="lang.data.about.getting_started.sections.basics.content"
    ></p>
  </card>

  <card
    [icon]="gv.Icons.subject"
    [ctitle]="lang.data.about.getting_started.sections.subjects.title"
    [csubtitle]="lang.data.about.getting_started.sections.subjects.subtitle"
  >
    <p
      [innerHtml]="lang.data.about.getting_started.sections.subjects.content"
    ></p>
  </card>

  <card
    [icon]="gv.Icons.calender_checked"
    [ctitle]="lang.data.about.getting_started.sections.homework.title"
    [csubtitle]="lang.data.about.getting_started.sections.homework.subtitle"
  >
    <p
      [innerHtml]="lang.data.about.getting_started.sections.homework.content"
    ></p>
  </card>

  <card
    [icon]="gv.Icons.grade"
    [ctitle]="lang.data.about.getting_started.sections.grades.title"
    [csubtitle]="lang.data.about.getting_started.sections.grades.subtitle"
  >
    <p
      [innerHtml]="lang.data.about.getting_started.sections.grades.content"
    ></p>
  </card>

  <card
    [icon]="gv.Icons.group"
    [ctitle]="lang.data.about.getting_started.sections.groups.title"
    [csubtitle]="lang.data.about.getting_started.sections.groups.subtitle"
  >
    <p
      [innerHtml]="lang.data.about.getting_started.sections.groups.content"
    ></p>
  </card>

  <card
    [icon]="gv.Icons.calender"
    [ctitle]="lang.data.about.getting_started.sections.appointments.title"
    [csubtitle]="lang.data.about.getting_started.sections.appointments.subtitle"
  >
    <p
      [innerHtml]="
        lang.data.about.getting_started.sections.appointments.content
      "
    ></p>
  </card>
</div>
