<div class="box nostyle">
  <div class="container">
    <!-- HEADER -->
    <mat-card>
      <mat-card-header>
        <fa [fa]="gv.Icons.profile" mat-card-avatar></fa>

        <!-- LOGIN -->
        <mat-card-title
          [innerHtml]="local.data.lib.auth.login.title"
          *ngIf="type == 'login'"
        ></mat-card-title>
        <mat-card-subtitle
          [innerHtml]="local.data.lib.auth.login.desc"
          *ngIf="type == 'login'"
        ></mat-card-subtitle>

        <!-- REGISTER -->
        <mat-card-title
          [innerHtml]="local.data.lib.auth.register.title"
          *ngIf="type == 'register'"
        ></mat-card-title>
        <mat-card-subtitle
          [innerHtml]="local.data.lib.auth.register.desc"
          *ngIf="type == 'register'"
        ></mat-card-subtitle>

        <!-- VERIFY -->
        <mat-card-title
          [innerHtml]="local.data.lib.auth.verify_email.title"
          *ngIf="type == 'verify'"
        ></mat-card-title>
        <mat-card-subtitle
          [innerHtml]="local.data.lib.auth.verify_email.desc"
          *ngIf="type == 'verify'"
        ></mat-card-subtitle>

        <!-- RESET -->
        <mat-card-title
          [innerHtml]="local.data.lib.auth.reset_password.title"
          *ngIf="type == 'reset'"
        ></mat-card-title>
        <mat-card-subtitle
          [innerHtml]="local.data.lib.auth.reset_password.desc"
          *ngIf="type == 'reset'"
        ></mat-card-subtitle>
      </mat-card-header>
    </mat-card>

    <!-- SOCIAL SIGNIN -->
    <mat-card *ngIf="type != 'verify' && type != 'reset'">
      <mat-card-header>
        <fa [fa]="gv.Icons.google" mat-card-avatar></fa>
        <mat-card-title>Google</mat-card-title>
        <mat-card-subtitle>Login with Google</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section class="form-group">
          <!-- GOOGLE SIGNIN -->
          <button class="signin google" (click)="auth.signIn_google()">
            <img />
            <span [innerHtml]="local.data.lib.auth.buttons.login.google"></span>
          </button>
        </section>
      </mat-card-content>
    </mat-card>

    <form class="container" (ngSubmit)="submit_email()" #form_email="ngForm">
      <!-- EMAIL SIGNIN -->
      <mat-card>
        <mat-card-header>
          <fa [fa]="gv.Icons.email" mat-card-avatar></fa>
          <mat-card-title>Email</mat-card-title>
          <mat-card-subtitle>Login with email</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="flexbox resize">
            <!-- EMAIL -->
            <mat-form-field>
              <mat-label
                [innerHtml]="local.data.lib.auth.fields.email.label"
              ></mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                id="email_email"
                required
                [(ngModel)]="email_data.email"
                name="email_email"
                #email_email="ngModel"
              />
              <mat-error
                [hidden]="email_email.valid || email_email.untouched"
                for="email_email"
                [innerHtml]="local.data.lib.auth.fields.email.error"
              >
              </mat-error>
            </mat-form-field>

            <!-- PASSWORD -->
            <mat-form-field class="form-group" *ngIf="type != 'reset'">
              <mat-label
                for="email_password"
                class="required"
                [innerHtml]="local.data.lib.auth.fields.password.label"
              ></mat-label>
              <input
                matInput
                type="password"
                class="form-control"
                id="email_password"
                required
                [(ngModel)]="email_data.password"
                name="email_password"
                #email_password="ngModel"
              />
              <mat-error
                [hidden]="email_password.valid || email_password.untouched"
                for="email_password"
                [innerHtml]="local.data.lib.auth.fields.password.error"
              >
              </mat-error>
            </mat-form-field>

            <!-- CONFIRM PASSWORD -->
            <mat-form-field class="form-group" *ngIf="type == 'register'">
              <mat-label
                for="email_confirm_password"
                class="required"
                [innerHtml]="local.data.lib.auth.fields.confirm_password.label"
              ></mat-label>
              <input
                matInput
                type="password"
                class="form-control"
                id="email_confirm_password"
                required
                [(ngModel)]="email_data.confirm_password"
                name="email_confirm_password"
                #email_confirm_password="ngModel"
              />
              <mat-error
                [hidden]="
                  email_confirm_password.valid ||
                  email_confirm_password.untouched
                "
                for="email_confirm_password"
                [innerHtml]="local.data.lib.auth.fields.confirm_password.error"
              >
              </mat-error>
            </mat-form-field>
          </div>

          <!-- EMAIL SIGNIN BUTTON -->
          <mat-error
            [hidden]="!auth.error"
            [innerHtml]="auth.get_localized_error(local.data.lib.auth.errors)"
          ></mat-error>
          <div class="flexbox start">
            <button
              *ngIf="type != 'verify'"
              mat-raised-button
              [class]="type == 'login' ? 'bg-success' : 'bg-primary'"
              [innerHtml]="local.data.lib.auth.buttons.login.login"
              (click)="btn_login()"
            ></button>

            <button
              *ngIf="type != 'verify'"
              mat-raised-button
              [class]="type == 'register' ? 'bg-success' : 'bg-primary'"
              [innerHtml]="local.data.lib.auth.buttons.register.register"
              (click)="btn_register()"
            ></button>

            <button
              *ngIf="type == 'verify'"
              mat-raised-button
              color="warn"
              [innerHtml]="local.data.lib.auth.buttons.verify_email.resend"
              (click)="btn_verify()"
            ></button>

            <button
              *ngIf="type != 'verify'"
              mat-raised-button
              color="warn"
              [innerHtml]="local.data.lib.auth.buttons.reset_password.reset"
              (click)="btn_reset()"
            ></button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>
