<form class="grow" #form="ngForm">
  <mat-form-field>
    <mat-label>{{ lang.data.sc.detail.type }}</mat-label>
    <mat-select
      name="type"
      (submit)="save()"
      [(ngModel)]="sc.type"
      required
      #type
    >
      <mat-option *ngFor="let t of types" [value]="t">{{ t }}</mat-option>
    </mat-select>
    <mat-error [hidden]="!type.valid">
      {{ lang.data.sc.detail.type }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ lang.data.sc.detail.mark }}</mat-label>
    <mat-select required [(ngModel)]="sc.mark" name="mark" #mark>
      <mat-option *ngFor="let mark of marks; let i = index" [value]="i + 1">
        {{ mark }}
      </mat-option>
    </mat-select>
    <mat-error [hidden]="!mark.valid">
      {{ lang.data.sc.detail.mark }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>

  <div class="form-flex">
    <mat-form-field>
      <mat-label>{{ lang.data.sc.detail.score }}</mat-label>
      <input
        matInput
        type="number"
        name="score"
        [(ngModel)]="sc.score"
        [required]="sc.scoreMax"
        #score
      />
      <mat-error [hidden]="!score.valid">
        {{ lang.data.sc.detail.score }} {{ lang.data.general.err.req }}
      </mat-error>
    </mat-form-field>
    <span>&nbsp;/&nbsp;</span>
    <mat-form-field>
      <mat-label>{{ lang.data.sc.detail.out_of }}</mat-label>
      <input
        matInput
        type="number"
        name="scoreMax"
        [(ngModel)]="sc.scoreMax"
        [required]="sc.score"
        #scoreMax
      />
      <mat-error [hidden]="!scoreMax.valid">
        {{ lang.data.sc.detail.out_of }} {{ lang.data.general.err.req }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-label>{{ lang.data.sc.detail.date }}</mat-label>
    <input
      matInput
      [matDatepicker]="dueDatePicker"
      name="due-date"
      required
      (submit)="save()"
      [(ngModel)]="sc.date"
      #dueDate
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="dueDatePicker"
    ></mat-datepicker-toggle>
    <mat-datepicker
      (closed)="save()"
      #dueDatePicker
      [touchUi]="bps.datepickerMobile"
    ></mat-datepicker>
    <mat-error [hidden]="!dueDate.valid">
      {{ lang.data.sc.detail.date }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ lang.data.sj.name }}</mat-label>
    <mat-select
      name="subject"
      required
      [(ngModel)]="sc.subjectId"
      (submit)="save()"
      #subject
    >
      <mat-option *ngFor="let sub of userData.data.subjects" [value]="sub.id">
        {{ sub.title }}
      </mat-option>
      <mat-option disabled *ngIf="userData.data.subjects.length === 0">
        No subjects found
      </mat-option>
    </mat-select>
    <mat-error [hidden]="!subject.valid">
      {{ lang.data.sj.name }} {{ lang.data.general.err.req }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ lang.data.ap.name }}</mat-label>
    <mat-select
      name="appointment"
      [(ngModel)]="sc.appointmentId"
      (submit)="save()"
    >
      <mat-option disabled>WORK IN PROGRESS</mat-option>
      <!-- <mat-option *ngFor="let sub of userData.data.subjects" [value]="sub.id">
        {{ sub.title }}
      </mat-option>
      <mat-option disabled *ngIf="userData.data.subjects.length === 0">
        No appointments found
      </mat-option> -->
    </mat-select>
  </mat-form-field>
</form>
