@import "sass/colors.scss";

// @import "sass/material.scss";
// @import "sass/theme.scss";
@import "sass/test.scss";

@import "sass/general.scss";

@import "./libraries/util/scss/libraries.scss";

html,
body {
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}
