<div class="container small">
  <!-- OVER-DUE -->
  <card
    [icon]="gv.Icons.alarm"
    ctitle="Over due"
    csubtitle="It'll be fine, just do it now"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwPast?.length > 0"
  >
    <hw-list [data]="userData.data.hwPast"></hw-list>
  </card>

  <!-- DUE-TODAY -->
  <card
    [icon]="gv.Icons.alarm"
    ctitle="Due today"
    csubtitle="Come on!"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwToday?.length > 0"
  >
    <hw-list [data]="userData.data.hwToday"></hw-list>
  </card>

  <!-- DUE-TOMORROW -->
  <card
    [icon]="gv.Icons.alarm"
    ctitle="Due tomorrow"
    csubtitle="Let's do this!"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwTomorrow?.length > 0"
  >
    <hw-list [data]="userData.data.hwTomorrow"></hw-list>
  </card>

  <!-- THIS-WEEK -->
  <card
    [icon]="gv.Icons.calender"
    ctitle="For this week"
    csubtitle="The sooner, the better..."
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwWeek?.length > 0"
  >
    <hw-list [data]="userData.data.hwWeek"></hw-list>
  </card>

  <!-- COMPLETED -->
  <card
    [icon]="gv.Icons.checkmark"
    ctitle="Completed"
    csubtitle="Finally..."
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwCompleted?.length > 0"
  >
    <hw-list [data]="userData.data.hwCompleted"></hw-list>
  </card>
</div>
