<div class="container small">
  <!-- OVER-DUE -->
  <card
    [icon]="gv.Icons.alarm"
    [ctitle]="lang.data.hw.dashboard.over.title"
    [csubtitle]="lang.data.hw.dashboard.over.subtitle"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwPast?.length > 0"
  >
    <hw-list [data]="userData.data.hwPast"></hw-list>
  </card>

  <!-- DUE-TODAY -->
  <card
    [icon]="gv.Icons.alarm"
    [ctitle]="lang.data.hw.dashboard.today.title"
    [csubtitle]="lang.data.hw.dashboard.today.subtitle"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwToday?.length > 0"
  >
    <hw-list [data]="userData.data.hwToday"></hw-list>
  </card>

  <!-- DUE-TOMORROW -->
  <card
    [icon]="gv.Icons.alarm"
    [ctitle]="lang.data.hw.dashboard.tomorrow.title"
    [csubtitle]="lang.data.hw.dashboard.tomorrow.subtitle"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwTomorrow?.length > 0"
  >
    <hw-list [data]="userData.data.hwTomorrow"></hw-list>
  </card>

  <!-- THIS-WEEK -->
  <card
    [icon]="gv.Icons.calender"
    [ctitle]="lang.data.hw.dashboard.week.title"
    [csubtitle]="lang.data.hw.dashboard.week.subtitle"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwWeek?.length > 0"
  >
    <hw-list [data]="userData.data.hwWeek"></hw-list>
  </card>

  <!-- COMPLETED -->
  <card
    [icon]="gv.Icons.checkmark"
    [ctitle]="lang.data.hw.dashboard.completed.title"
    [csubtitle]="lang.data.hw.dashboard.completed.subtitle"
    [link]="dashboard ? ['homework'] : null"
    [noContentPadding]="true"
    *ngIf="userData.data.hwCompleted?.length > 0"
  >
    <hw-list [data]="userData.data.hwCompleted"></hw-list>
  </card>
</div>
