<div class="container tiny">
  <mat-card
    *ngFor="let homework of homeworks"
    class="clickable"
    [class.bg-warn]="isOverDue(homework)"
    (click)="viewHomwork(homework)"
  >
    <div class="flexbox">
      <h2>
        {{ homework.title }}
      </h2>
      <div class="flexbox">
        <p>Due: {{ homework.dueDate | date: "medium" }}</p>
        <button
          mat-raised-button
          background="success"
          (click)="completeHomework(homework, $event)"
          *ngIf="!homework.completed; else completed"
        >
          Complete
        </button>
        <ng-template #completed>
          <p>Completed: {{ homework.completed | date: "medium" }}</p>
        </ng-template>
        <button
          mat-raised-button
          background="warn"
          (click)="deleteHomework(homework, $event)"
        >
          Remove
        </button>
      </div>
    </div>
  </mat-card>
</div>
