<button mat-button [matMenuTriggerFor]="profileMenu" *ngIf="auth.userData?.uid">
  <fa [fa]="gv.Icons.profile"></fa>
</button>
<mat-menu #profileMenu="matMenu">
  <p mat-menu-item *ngIf="auth.userData.displayName">
    {{ auth.userData.displayName }}
  </p>
  <p mat-menu-item>
    {{ auth.userData.email }}
  </p>
  <button
    mat-menu-item
    *ngIf="gv.isDev"
    [cdkCopyToClipboard]="auth.userData.uid"
  >
    {{ auth.userData.uid }}
  </button>
  <button mat-menu-item (click)="auth.signOut()">
    {{ lang.data.lib.auth.buttons.logout.logout }}
  </button>
  <a mat-menu-item routerLink="/me/settings">
    {{ lang.data.profile.settings.buttons.settings }}
  </a>
  <a mat-menu-item routerLink="/me/about">
    {{ lang.data.about.buttons.about }}
  </a>
  <a mat-menu-item routerLink="/me/getting-started">
    {{ lang.data.about.buttons.getting_started }}
  </a>
</mat-menu>
